.formGroup {
  max-width: 400px;

  @media screen and (min-width: 768px) {
    width: calc(100vw / 4);
  }

  input, select, div[role=button], .typeLabel[data-shrink="false"] {
    padding-left: 12px;
    padding-right: 12px;
  }

  .typeLabel:not([data-shrink="false"]) {
    line-height: 2.2;
    padding-left: 15px;
  }
}

.errorText {
  text-align: center;
  margin: 0 0 10px;
}