.container {
  padding: 20px;
}

.heading {
  text-align: center;
}

.deleteInfo {
  color: #999;
  text-align: center;
  margin-top: 40px;
}

button.addTickets {
  display: table;
  margin: 40px auto 20px;
}