.box {
  position: relative;
  margin: .75em auto 0;
  padding: 20px;
  width: calc(100% - 40px - 1em);
  line-height: 40px;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: ease-in-out 0.25s;

  &:hover {
    transform: scale(1.05);
  }

  &.deleting {
    transform: scale(0);
  }

  .closeBtn {
    display: none;
  }
}

.box:hover {
  .closeBtn {
    display: inline;
    max-height: 40px;
  }
}

.ticketDetails {
  display: flex;
  height: 40px;
  align-items: center;

  svg {
    margin-right: 15px;
  }
}

hr.divider {
  margin: 0 10px;
}
